#navbar {
  &.affix {
    top: 0;
    z-index:10;
    @media screen and (max-width: @screen-sm) {
      left: 15px;
      right: 15px;
      width: auto;
    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md) {
      width: 720px;
    }
    @media screen and (min-width: @screen-md) and (max-width: @screen-lg) {
      width: 940px;
    }
    @media screen and (min-width: @screen-lg) {
      width: 1140px;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #bebebe;
        font-size: 16px;
        &:hover {
          color: #ffffff;
        }
      }
      a.is-active {
        background-color: @yellow;
        color: #ffffff;
      }
    }
  }
  #block-tecnomagneti-frontend-search {
    @media screen and (max-width: @screen-sm) {
      width: 100%;
      margin: 0 -7.5px 7.25px -7.5px;
      float: left;
    }
    @media screen and (min-width: @screen-sm) {
      float: right;
      width: 300px;
    }
    form {
      .form-group {
        margin-bottom: 0;
      }
      .input-group {
        @media screen and (max-width: @screen-sm) {
          width: 100%;
        }
        input {
          height: 50px;
          border: none;
          background: rgba(0, 0, 0, 0.5);
          color: #ffffff;
          padding: 5px;
          @media screen and (max-width: @screen-sm) {
            width: 80%;
            float: left;
          }
          @media screen and (min-width: @screen-sm) {
            width: 85px;
            -webkit-transition: width 0.4s;
            -o-transition: width 0.4s;
            transition: width 0.4s;
            float: right;
            &:focus, &:hover {
              width: 250px;
            }
          }
          &:focus, &:hover {
            box-shadow: none !important;
          }
        }
      }
      .input-group-btn {
        @media screen and (max-width: @screen-sm) {
          float: left;
        }
        .btn {
          border: none;
          height: 50px;
          width: 50px;
          box-sizing: border-box;
          margin-left: 0;
          padding: 17px 18px;
        }
      }
    }
  }
  @media screen and (min-width: @screen-sm) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    border: none;
    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-right {
      margin-right: 0;
    }
  }
}
.tabs {
  margin-top: 20px;
}