.files_style {
  .file {
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: auto;
    .file-icon, .file-link, .file-size {
      border: none;
      display: block;
      text-align: center;
      padding: 0;
    }
  }
}
.view {
  .product {
    .cover-image {
      height: 200px;
      overflow: hidden;
      img {
        min-width: 100%;
        min-height: 100%;
      }
    }
    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
      a {
        color: @text-color;
        font-size: 20px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .description {
    }
    .files {
      .files_style();
    }
  }
}

.page-node-type-product {
  .description {
    img {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      max-width: 300px;
    }
  }
  .files {
    .files_style();
  }
}