.view-products.view-display-id-page_1 {
  .product {
    .cover-image {
      height: 200px;
      overflow: hidden;
      img {
        min-width: 100%;
        min-height: 100%;
      }
    }
    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
      a {
        color: @text-color;
        font-size: 20px;
        font-weight: 400;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .description {
    }
  }
}
