@background-color: #f0f2f3;
@navbar-color: #222222;
@text-color: #34404e;
@yellow: #ecc200;
@green: #188923;

body {
  background-color: @background-color;
  color: @text-color;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin-top: 0;
}
a {
  color: @yellow;
  &:hover {
    color: darken(@yellow, 10%);
  }
  &:focus {
    color: darken(@yellow, 10%);
  }
}
input, textarea {
  &:focus {
    border-color: darken(@yellow, 3%) !important;;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @yellow !important;
  }
}
.product-teaser-title {
  margin-top: 10px;
  margin-bottom: 5px;
  a {
    color: @text-color;
    font-size: 20px;
    font-weight: 300;
    &:hover {
      text-decoration: none;
    }
  }
}
.btn-primary {
  background-color: @yellow;
  border-color: darken(@yellow, 6%);
  &:hover {
    background-color: darken(@yellow, 3%);
    border-color: darken(@yellow, 6%);
  }
  &:focus {
    background-color: darken(@yellow, 3%);
    border-color: darken(@yellow, 6%);
  }
}
header#page-header {
  height: 100px;
  line-height: 100px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .logo {
    margin-top: 25px;
    height: 50px;
    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: top;
    }
  }
  a.navbar-brand {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 25px 10px;
    padding: 0;
    font-size: 32px;
    &:hover {
      color: @yellow;
    }
  }
  .tecnomagnete-links {
    a {
      margin-left: 3px;
    }
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
}
.region-top-bar {
  h1 {
    display: block;
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 0;
    background-image: url('../assets/img/header-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
    font-weight: 700;
    margin-top: 0;
    .title-text {
      display: inline-block;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .breadcrumb {
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0;
  }
}
.white-background-with-border {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  margin-bottom: 20px;
}
.content-wrapper {
  margin-top: 20px;
  .region-content {
    .white-background-with-border();
  }
  .region-sidebar-first, .region-sidebar-second {
    h2 {
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 10px;
    }
    #block-views-block-product-types-block-1, #block-views-block-services-block-1 {
      .white-background-with-border();
      ul {
        list-style-type: none;
        padding-left: 0;
        li {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px dotted #999999;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
#search-block-form {
  margin: 0;
}
.feed-icons, .search-help-link, .search-advanced {
  display: none;
}
.pagination > li > a {
  color: @yellow;
  &:hover {
    color: @yellow;
  }
  &:focus {
    color: @yellow;
  }
}
#block-views-block-news-block-1 {
  .block-title {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    @media screen and (max-width: @screen-sm) {
      width: 100%;
    }
    @media screen and (min-width: @screen-sm) {
      width: 120px;
    }
    margin: 0;
    float: left;
    background-color: @green;
    color: #ffffff;
    text-align: center;
  }
  .form-group {
    @media screen and (max-width: @screen-sm) {
      width: 100%;
    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md) {
      width: 600px;
    }
    @media screen and (min-width: @screen-md) and (max-width: @screen-lg) {
      width: 820px;
    }
    @media screen and (min-width: @screen-lg) {
      width: 1020px;
    }
    float: left;
    .item-list {
      ul {
        list-style-type: none;
        display: block;
        width: 100%;
        @media screen and (max-width: @screen-sm) {
          height: 60px;
        }
        @media screen and (min-width: @screen-sm) {
          height: 40px;
        }
        margin: 0;
        padding-left: 5px;
        overflow: hidden;
        background-color: #ffffff;
        li {
          width: 100%;
          @media screen and (max-width: @screen-sm) {
            height: 60px;
            line-height: 20px;
          }
          @media screen and (min-width: @screen-sm) {
            height: 40px;
            line-height: 20px;
          }
          font-size: 14px;
          .views-field {
            display: inline-block;
            margin-right: 5px;
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}