@background-color: #f0f2f3;
@text-color: #34404e;
@yellow: #ecc200;
@green: #188923;

body {
  background-color: @background-color;
  color: @text-color;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin-top: 0;
}
a {
  color: @yellow;
  &:hover {
    color: darken(@yellow, 10%);
  }
}
header#page-header {
  height: 100px;
  line-height: 100px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  a.logo {
    margin-top: 0;
    margin-bottom: 0;
  }
  a.navbar-brand {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 25px 10px;
    padding: 0;
    font-size: 32px;
    &:hover {
      color: @yellow;
    }
  }
  @media screen and (max-width: @screen-sm) {
    .tecnomagnete-links {
      display: none;
    }
  }
}
.region-top-bar {
  h1 {
    display: block;
    width: 100%;
    padding: 50px 20px;
    margin-bottom: 0;
    background-image: url('../assets/img/header-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
    font-weight: 700;
  }
  .breadcrumb {
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0;
  }
}
.content-wrapper {
  margin-top: 20px;
  .region-content {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
  }
}
